FLASK_DEBUG=True

SECRET_KEY=change-it-with-your-secret-key

DATABASE_URL=write-your-database-url

JWT_SECRET_KEY=change-this-jwt-secret-key

GEMINI_API_KEY=your_ai_studio_api_key_here

JWT_REFRESH_SECRET_KEY=your-refresh-token-secret